body{
    background: #280905;
}
h1{
    margin: 80px 0px 0px 0px;
}
#cover-art{
    font-size: 7rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: "Gravitas One", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F5E7C6;
    text-align: center;
}
#container{
    display: flex;
    flex-direction: column;

}
#separator{
    color: #C3110C;
    border-style: solid;
    border-width: 0px 0px 35px 0px;
}
hr{
    /* display: none; */
    margin: 0px;
}
footer{
    color: #F5E7C6;
    text-align: right;
}